div#info-forbidden {
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 20px #111;
    width: 50%;
    max-width: 700px;
    min-width: 200px;
    border-radius: 50px;
}

h1#info-forbidden-header {
    font-size: 3em;
    color: #555;
    padding: 0 50px;
}

div#info-forbidden-content {
    margin: 0 20px 20px;
    font-size: 1.6em;
}