body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
	background-image: url("/img/background-dark.jpg");
	background-size: cover;
	color: #999;
}
::selection {
	background-color: #6b5757;
	color: #ccc;
}
input {
	background-color: #333;
	color: gray;
	border-color: #666;
}
input[type="text"] {
	box-shadow: 0 0 20px #111;
}
input[type="text"]::placeholder {
	color: #666;
}
input[type="file"]::file-selector-button {
	background-color: #e66465;
	background-image: linear-gradient(#191919, #191919), radial-gradient(circle at top left, #e66465, #9198e5);
    color: lightpink;
}

input[type="file" i]::-webkit-file-upload-button:hover {
	color: #ff8093;
	background-image: linear-gradient(#191919, #191919), radial-gradient(circle at top left, #df3a3a, #6670db)
}
textarea {
	background-color: #333;
	color: #777;
	border-color: #777;
	box-shadow: 0 0 20px #111;
}
#footer {
	background-color: #111;
	color: #666;
}
body > footer {
    background-color: #111;
    color: #777;
}
body > footer > div#footer-content > a {
    color: aqua;
}
#header {
	color: black;
	background-color: rgba(0,0,0,0.2);
}
.theme-icon:before {
	content: "\f185";
}
.content-table {
	background-color: #191919;
}